<%# mb-5 is bootstrap for setting the margin bottom to size 5 https://getbootstrap.com/docs/4.4/utilities/spacing/ %>
<nav class='navbar navbar-light bg-light mb-5'>
  <ul>
    <span class='navbar-brand mt-3 mb-0 h1'> Inventory Management &nbsp;&nbsp

      <%= link_to 'Home', home_path, class: 'nav-item' %>
      |
      <%= link_to 'View Products', products_path, class: 'nav-item' %>
      |
      <%= link_to 'Add Product', new_product_path, class: 'nav-item' %>
    </span>
  </ul>
  <div>
    <% if user_signed_in? %>
      <span class='text-muted mr-3'><h5>Hello ♡  <%= current_user.full_name %></span> &nbsp;&nbsp;
      <%= link_to "Log Out", session_path, method: :delete, class: 'btn btn-secondary' %></h5>
    <% else %>
      <%= link_to "Log In", new_session_path, class: 'btn btn-dark' %>
      <%= link_to "Sign Up", new_user_path, class: 'btn btn-secondary' %>
    <% end %>
  </div>
</nav>
